{% assign calendar = site.data.events[include.cal] | sort: "start" %}

<div class="calendar">
  {% if page.sidebar.title %}
    <h3 class="nav__title" style="padding-left: 0;">
      {{ page.sidebar.title }}
    </h3>
  {% endif %}
  {% assign current_year = 'now' | date: "%Y" %}
  {% assign prev_month = nil %}

  {% for cal in calendar %}
    {% assign cal_year = cal.start | date: "%Y" %}
    {% assign cal_month = cal.start | date: "%B" %}

    {% if prev_month != cal_month %}
      <div class='month'>
        {{ cal_month }}
      {% if cal_year != current_year %}
        {{ cal_year }}
      {% endif %}
      </div>
    {% endif %}
    {% assign prev_month = cal.start | date: "%B" %}
    <div class='event'><div class="date">{{ cal.start | date: "%e" }}</div> <div class='item'>{{ cal.title | truncate: 35 }}</div></div>
  {% endfor %}
  <a target="_blank" href="{{ 'test.ics' | absolute_url | replace: 'https://', 'webcal://'}}">ical</a>
</div>
