<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.data.ui-text[site.locale].follow_label %}
      <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
    {% endif %}

    {% if site.footer.links %}
      {% for link in site.footer.links %}
        {% if link.label and link.url %}
          <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a></li>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% unless site.atom_feed.hide %}
      <li><a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}"><i class="fas fa-fw fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a></li>
    {% endunless %}
  </ul>
</div>

<div class="page__footer-copyright">
  <div>&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}</div>
  <div class='separator'> | </div>
  <div><a norel noopener target="_blank" href="https://instagram.com/adfundumdiving"><div class='icon'><i class="fab fa-instagram"></i></div> @adfundumdiving</a></div>
  <div class='separator'> | </div>
  <div><a norel noopener target="_blank" href="https://facebook.com/gsdcadfundum"><div class='icon'><i class="fab fa-facebook-square"></i></div> @gsdcadfundum</a></div>
  <div class='separator'> | </div>
  <div><a mailto="info@adfundum.info"><div class='icon'><i class="fas fa-at"></i></div> info@adfundum.info</a></div>
  <div class='separator'> | </div>
  <div><a norel noopener target="_blank" href="https://goo.gl/maps/fPFw3jSpy5zUHUX37"><div class='icon'><i class="fas fa-envelope"></i></div> Blauwborgje 16, 9747AC Groningen</a></div>
</div>
