<div>
  <h3 class="nav__title" style="padding-left: 0;">
    <i class="fab fa-instagram"></i> adfundumdiving
  </h3>

  <div id="instafeed">
    <div>
      <a href="https://instagram.com/{{ include.username }}">
        <img src="https://profilepageimages.usecue.com/images/{{ include.username }}/small/0.jpg" />
      </a>
    </div>
    <div>
      <a href="https://instagram.com/{{ include.username }}">
        <img src="https://profilepageimages.usecue.com/images/{{ include.username }}/small/1.jpg" />
      </a>
    </div>
    <div>
      <a href="https://instagram.com/{{ include.username }}">
        <img src="https://profilepageimages.usecue.com/images/{{ include.username }}/small/2.jpg" />
      </a>
    </div>
    <div>
      <a href="https://instagram.com/{{ include.username }}">
        <img src="https://profilepageimages.usecue.com/images/{{ include.username }}/small/3.jpg" />
      </a>
    </div>
  </div>
</div>
