---
# Only the main Sass file needs front matter (the dashes are enough)
---

/* headline scale */
$h-size-1: 1.3em !default;
$h-size-2: 1.15em !default;
$h-size-3: 1em !default;
$h-size-4: 1em !default;
$h-size-5: 1em !default;
$h-size-6: 1em !default;

$masthead-link-color: #fff;
$masthead-link-color-hover: #ccc;

.masthead {
  position: relative;
}

.masthead::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/img/header.jpg");
  background-size: cover;
  background-position: center;
  filter: brightness(50%);
}
.masthead-inside {
  /* This will make it stack on top of the ::before */
  position: relative;
}

#site-nav {
  background-color: transparent;
}

#footer {
  .page__footer-copyright {
    display: flex;
    align-items: center;
  }
  .icon{
    height: 1.5em;
    margin-right: 0.7em;
  }
  .separator{
    margin: 0 0.7em;
  }
  .fab {
    font-size: 1.6em;
  }
}

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
