---
# Only the main Sass file needs front matter (the dashes are enough)
---

$doc-font-size: 12 !default;


/* headline scale */
$h-size-1: 1.3em !default;
$h-size-2: 1.15em !default;
$h-size-3: 1em !default;
$h-size-4: 1em !default;
$h-size-5: 1em !default;
$h-size-6: 1em !default;

$masthead-link-color: #fff;
$masthead-link-color-hover: #ccc;


$small: 600px !default;
$medium: 768px !default;
$medium-wide: 900px !default;
$large: 1024px !default;
$x-large: 1280px !default;
$max-width: $x-large !default;


.greedy-nav {
  .hidden-links {
    a {
      color: mix(#000, #7a8288, 50%);
    }

    a:hover {
      color: mix(#000, #7a8288, 50%) !important;
    }
  }
}

.masthead {
  position: relative;
}

.masthead::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/img/header.jpg");
  background-size: cover;
  background-position: center;
  filter: brightness(50%);
}
.masthead-inside {
  /* This will make it stack on top of the ::before */
  position: relative;
}

#site-nav {
  background-color: transparent;
}

#footer {
  .page__footer-copyright {
    display: flex;
    align-items: center;
  }
  .icon{
    height: 1.5em;
    margin-right: 0.7em;
  }
  .separator{
    margin: 0 0.7em;
  }
  .fab {
    font-size: 1.6em;
  }
}
.calendar {
  .month {
    border: solid lightgray;
    padding: 2px 5px;
    border-width: 1px 0;
    background-color: whitesmoke;
    font-weight: 200;
  }
  .date {
    width: 1.5em;
    font-weight: 700;
    display: inline-block;
    background-color: whitesmoke;
    text-align: center;
  }
}

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
