---
# Only the main Sass file needs front matter (the dashes are enough)
---

$doc-font-size: 12 !default;


/* headline scale */
$h-size-1: 1.3em !default;
$h-size-2: 1.15em !default;
$h-size-3: 1em !default;
$h-size-4: 1em !default;
$h-size-5: 1em !default;
$h-size-6: 1em !default;

// $masthead-link-color: #fff;
// $masthead-link-color-hover: #ccc;

$small: 600px !default;
$medium: 768px !default;
$medium-wide: 900px !default;
$large: 1024px !default;
$x-large: 1280px !default;
$max-width: $x-large !default;


// .greedy-nav {
//   .hidden-links {
//     a {
//       color: mix(#000, #7a8288, 50%);
//     }

//     a:hover {
//       color: mix(#000, #7a8288, 50%) !important;
//     }
//   }
// }

// .masthead {
//   position: relative;
// }

// .masthead::before {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-image: url("/assets/img/header.jpg");
//   background-size: cover;
//   background-position: center;
//   filter: brightness(50%);
// }
// .masthead-inside {
//   /* This will make it stack on top of the ::before */
//   position: relative;
// }

// #site-nav {
//   background-color: transparent;
// }


#intro_form {
  display: flex;
  padding: 30px;
}


@media only screen and (min-width: 1023px) {
  .half {
    width: 50%;
  }
  #sidebar_img {
    margin-right: 30px;
  }

}

@media only screen and (max-width: 1023px) {
 #intro_form {
    flex-direction: column;
    align-items: center;
  }
  #sidebar_img {
    width: 100%;
    padding-bottom: 30px;
  }
  #sidebar_img img {
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    max-height: 300px;
    vertical-align: middle;
  }
}

@media only screen and (min-width: 1023px) {
  #instafeed {
    overflow: auto;
    margin: 0 0 0 -1%;
    padding: 0;
  }
  #instafeed div {
    float: left;
    display: block;
    margin: 0 0 5px 5px;
    width: calc(50% - 5px);
    padding-bottom: calc(50% - 5px);
    position: relative;
  }
  #instafeed div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }
}
@media only screen and (max-width: 1023px) {
  #instafeed {
    display: flex;
  }
  #instafeed div {
    float: left;
    display: block;
    margin: 0 0 5px 5px;
    width: calc(25% - 5px);
    padding-bottom: calc(25% - 5px);
    position: relative;
  }
  #instafeed div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }
}



#footer {
  .page__footer-copyright {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .icon{
    height: 1.5em;
    margin-right: 0.7em;
  }
  .separator{
    margin: 0 0.7em;
  }
  i {
    font-size: 1.6em;
  }
}
.calendar {
  font-size: 0.7em;
  .event {
    display: flex;
    align-content: stretch;
  }
  .month {
    border: solid lightgray;
    padding: 2px 5px;
    border-width: 1px 0;
    background-color: whitesmoke;
    font-weight: 300;
  }
  .date {

    flex-shrink: 0;
    width: 1.8em;
    font-weight: 700;
    background-color: whitesmoke;
    text-align: center;

  }
  .item {
    margin: 0 5px;
    display: inline-block;
  }
}

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
